<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1k31LQ7S_X3tzFUHKp1eXUejxlP9nByc</string>
	<key>GCM_SENDER_ID</key>
	<string>286764976998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmad.fitnessapp</string>
	<key>PROJECT_ID</key>
	<string>itnessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>itnessapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286764976998:ios:aa6bb8da46ec341224d6a7</string>
</dict>
</plist>